# encoding: utf-8
- parsed_json = ActiveSupport::JSON.decode(@json_data)
- information_partial = ENV['FMCD_INFORMATION_PARTIAL'] || "information"
- contact_partial = ENV['FMCD_CONTACT_PARTIAL'] || "contact"
- override_style = ENV['FMCD_OVERRIDE_STYLE'] || "override"
!!! XML
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %meta{ "http-equiv" => "Content-Type", :content=> "text/html; charset=UTF-8" }
    %title
      Fiona McDermott
    %meta{ :name=>"description", :content=>"Urban Design and Research" }
    %meta{ :name=>"keywords" :content=>"Urban design, urban studies, architectural design, fiona mcdermott, public realm" }


   
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Lato"

   
    = stylesheet_link_tag "application", :media => "all"
    = stylesheet_link_tag "#{override_style}", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

    :javascript
      $(document).ready(function(){


        var newData = #{@json_data}
        controller = new com.ee.MainPageController(newData.projects, newData.slideshow_interval, newData.default_bg_color, newData.left_arrow, newData.right_arrow)
      })


%body
  .bar-holder
    .left-bar
      .logo
        %a{ :href => "javascript:void(0)", :id => "_home_link"}
          %img{ :src => "#{parsed_json['logo']}", :id => "_logo"} 
      .logo_home
        %a{ :href => "javascript:void(0)", :id => "_home_link"}
          %img{ :src => "#{parsed_json['logo_home']}", :id => "_logo"} 
      .bar-contents
        .h5.title projects 
        = render :partial => "line_break"

        %ul{ :class => "project-menu"}
        = render :partial => "line_break"
        %a{ :href => "javascript:void(0)", :id => "_information_link"}
          = "INFORMATION"
        %br/
        %br/
        %a{ :href => "javascript:void(0)", :id => "_contact_link"}
          = "CONTACT"
        = render :partial => "line_break"
    .right-bar
      .bar-contents
        #project-view-title.title
        = render :partial => "line_break"
        #project-view-description
        = render :partial => "line_break"
        #project-view-navigation-holder

  .work-holder
    #project-view-images
    .content-holder{ :id => "_information_content" }
      = render "#{information_partial}"
    .content-holder{ :id => "_contact_content" }
      = render "#{contact_partial}"
  

 
